/*
Frontend Mentor
Interactive Rating Component
C Lewis
clewisdev.com
October 2022
*/

/****** VARIABLES ******/

:root {
    --primary-orange: #C05102; 
    --neutral-white: #ffffff;
    --neutral-light-grey: #959eac;
    --neutral-medium-grey: #7c8798;
    --neutral-dark-blue: #252d37;
    --neutral-very-dark-blue: #121417;

    --br: 1rem;
    
    --ff: 'Overpass', sans-serif;

    /*? FONT SIZES */
    /*? 14px - 15px */
    /*? 24px - 28px */
    
    --fs-s-mobile: 14px;
    --fs-m-mobile: 24px;
    --fs-s-desktop: 15px;
    --fs-m-desktop: 28px;
}

/****** MOBILE FIRST DESIGN ******/

/****** GLOBAL STYLING ******/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-family: var(--ff);
    background-color: black;
}

/* styling for both rating and thank you state main card */
section {
    background: linear-gradient(#252d37, #121417);
    width: 327px;
    height: 360px;
    border-radius: var(--br);
    margin: 0 auto;
    margin-top: 9.625rem;
    /* padding: 1.5rem; */
}

@media screen and (min-width: 800px) {
    section {
        width: 412px;
        height: 416px;
        /* padding: 2rem; */
    }
}


/****** STAR IMG ******/

.star {
    position: relative;
    top: 2rem;
    left: 2rem;
    border: solid 1rem var(--neutral-dark-blue);
    background-color: var(--neutral-dark-blue);
    border-radius: 50%;
    margin-bottom: 1.875rem;
}

/****** TITLE AND SUBTITLE STYLING ******/
/*! ADDED LEGEND ******/

/* h1 */
.title  { 
    font-size: var(--fs-m-mobile);
    color: var(--neutral-white);
    padding-left: 2rem;
}

/* p */
.subtitle {
    font-size: var(--fs-s-mobile);
    line-height: 1.375rem;
    color: var(--neutral-light-grey);
    padding-top: .4375rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
    .title {
        font-size: var(--fs-m-desktop);
        padding-top: 1.875rem;
    }
    
    .subtitle {
        font-size: var(--fs-s-desktop);
    }
}


/*! RADIO BUTTON STYLE ******/
/*? https://www.youtube.com/watch?v=MZq5zFSpUlo */
/*TODO Kevin Powell Videos
/* TODO https://www.youtube.com/watch?v=MRahw3qnRBQ STYLING INPUTS ACCENT-COLOR
/* TODO https://www.youtube.com/watch?v=EtTFEiHFjF4
/* TODO https://www.youtube.com/watch?v=0GcTUor2ANw

/* TODO BEFORE AND AFTER PSEUDO ELEMENTS
/* TODO https://www.youtube.com/watch?v=zGiirUiWslI
/* TODO https://www.youtube.com/watch?v=xoRbkm8XgfQ CONTENT PROPERTY*/


/* TODO https://www.youtube.com/watch?v=BT7FZooiqWw

/** COVER UP DEFAULT BROWSER RADIO INPUT
/** OPACITY IS THE MOST ACCESSIBLE
/** they are still there, but you can't see them */

label {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

[type="radio"] {
    opacity: 0;
} 

[type="radio"] + label {
    position: relative;
    padding-left: 2rem;
    padding-right: .75rem;
    cursor: pointer;
    display: inline-block;
    color: var(--neutral-white);
    transition: opacity 0.5s ease;
}

[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 12px;
    top: -18px;
    width: 51px;
    height: 51px;
    background-color: var(--neutral-dark-blue);
    border-radius: 100%;
    opacity: .5;
}    

[type="radio"]:hover + label::before {
    background-color: var(--primary-orange);
}

[type="radio"]:focus + label::before {
    background: var(--neutral-light-grey);
    
}

/****** BUTTON STYLING ******/

.submit-btn {
    position: relative;
    left: 2rem;
    font-family: var(--ff);
    font-size: var(--fs-s-mobile);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1875rem;
    color: var(--neutral-white);
    background-color: var(--primary-orange);
    border: none;
    width: 85%;
    padding: .8rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    
}

.submit-btn:hover {
    background-color: var(--neutral-white);
    color: var(--primary-orange);
}

@media screen and (min-width: 800px) {
    .submit-btn {
        font-size: var(--fs-s-desktop);
    }
}

/****** THANK YOU STATE ******/

/*! JAVASCRIPT ******/
.rating-state {
    display: block;
}

.thank-state {
    display: none;
}
/*! JS END ******/

/****** THANK YOU IMG ******/

.thanks-img {
    display: block;
    margin: 0 auto;
    padding-top: .625rem;
    padding-bottom: 1.5rem;
}

/****** RATING SELECTION TEXT ******/

/* p */
.selection-msg {
    text-align: center;
    font-size: var(--fs-s-mobile);
    color: var(--primary-orange);
    background-color: var(--neutral-dark-blue);
    width: 10.5rem;
    padding: .5rem;
    border-radius: 2rem;
    margin: 0 auto;
}

/* span */
..user-rating {
    font-size: var(--fs-s-mobile);
    color: var(--primary-orange);
}

/* h2 */
.title-thanks {
    font-size: var(--fs-m-mobile);
    text-align: center;
    color: var(--neutral-white);
    padding-top: 1.5625rem; 
    padding-bottom: .625rem;
}

/* p */
.subtitle-appreciation {
    font-size: var(--fs-s-mobile);
    line-height: 1.375rem;
    text-align: center;
    color: var(--neutral-light-grey);
    padding-bottom: .8125rem;

}

@media screen and (min-width: 800px) {
    
    .thanks-img {
        padding-top: .8125rem;
        padding-bottom: 2rem;
    }
    
    .selection-msg, .user-rating {
        font-size: var(--fs-s-desktop);
    }

    .selection-msg {
        width: 12.0625rem;
    }

    .title-thanks {
        font-size: var(--fs-m-desktop);
        padding-top: 2rem;
        padding-bottom: .4375rem;
    }

    .subtitle-appreciation {
        font-size: var(--fs-s-desktop);
        line-height: 1.5rem;
    }
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700
*/