/*
Frontend Mentor
Interactive Rating Component
C Lewis
clewisdev.com
September 2022
*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-orange: hsl(25, 97%, 53%); 
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-grey: hsl(217, 12%, 63%);
    --neutral-medium-grey: hsl(216, 12%, 54%);
    --neutral-dark-blue: hsl(213, 19%, 18%);
    --neutral-very-dark-blue: hsl(216, 12%, 8%);
    --br: border-radius: 1rem;
    --fs: font-size: 1rem;
}

body {
    font-family: 'Overpass', sans-serif;
}



/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700
*/