/*
Frontend Mentor
Interactive Rating Component
C Lewis
clewisdev.com
October 2022
*/

/****** VARIABLES ******/

:root {
    --primary-orange: hsl(25, 97%, 53%); 
    --neutral-white: #ffffff;
    --neutral-light-grey: #959eac;
    --neutral-medium-grey: #7c8798;
    --neutral-dark-blue: #252d37;
    --neutral-very-dark-blue: #121417;

    --br: 1rem;
    
    --ff: 'Overpass', sans-serif;

    /*? FONT SIZES */
    /*? 14px - 15px */
    /*? 24px - 28px */
    
    --fs-s: max(15px, 14px);
    --fs-m: max(28px, 24px);
}

/****** MOBILE FIRST DESIGN ******/

/****** GLOBAL STYLING ******/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-family: var(--ff);
    background-color: black;
}

main {
    background: linear-gradient(#252d37, #121417);
    /* max-width: 412px; */
    width: 327px;
    height: 360px;
    border-radius: var(--br);
    margin: 0 auto;
    margin-top: 9.625rem;
    padding: 1.5rem;
}

@media screen and (min-width: 800px) {
    main {
        width: 412px;
        height: 416px;
        /* padding: 2.5rem; */
    }
}

/* h1 */
.title  { 
    font-size: var(--fs-m);
    color: var(--neutral-white);
    padding-top: 1rem;
}

/* p */
.subtitle {
    font-size: var(--fs-s);
    line-height: 1.375rem;
    color: var(--neutral-light-grey);
    padding-top: .625rem;
    padding-bottom: 1.5rem;
}

/****** IMG ******/

.star {
    border: solid 1rem var(--neutral-dark-blue);
    border-radius: 50%;
}

/****** RATING NUMBER STYLING ******/

.ratings {
    color: var(--neutral-light-grey);
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.number {
    width: 42px;
    height: 42px;
    background-color: var(--neutral-dark-blue);
    border: solid 1rem var(--neutral-dark-blue);
    border-radius: 50%;
    text-align: center;
}

/* .ratings:hover { */
/* } */

.number:hover {
    color: var(--neutral-white);
    background-color: var(--primary-orange);
    border: solid 1rem var(--primary-orange);
}

@media screen and (min-width: 800px) {
    .number {
        width: 51px;
        height: 51px;
    }
}

/****** BUTTON STYLING ******/

.rating-button {
    font-family: var(--ff);
    font-size: var(--fs-s);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1875rem;
    color: var(--neutral-white);
    background-color: var(--primary-orange);
    border: none;
    width: 100%;
    padding: .75rem;
    border-radius: 2rem;
}

.rating-button:hover {
    background-color: var(--neutral-white);
    color: var(--primary-orange);
}

/****** THANK YOU STATE ******/

.thank-you-state {
    display: none;
}

.thanks-img {
    display: block;
    margin: 0 auto;
    padding-top: 2.8125rem;
    padding-bottom: 2rem;
}

.rating-selection {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .25rem; */
    text-align: center;
    padding: .5rem;
    background-color: var(--neutral-dark-blue);
    border-radius: 2rem;
    width: 13rem;
    margin: 0 auto;

}

/* p */
.subtitle-selection {
    text-align: center;
    color: var(--primary-orange);
    /* width: 12rem; */
    /* padding: .5rem; */
}

/* h2 */
.title-thanks {
    font-size: var(--fs-m);
    text-align: center;
    color: var(--neutral-white);
    padding-top: 2rem; 
    padding-bottom: .625rem;
}

/* p */
.subtitle-appreciation {
    font-size: .9375em;
    line-height: 1.5rem;
    text-align: center;
    color: var(--neutral-light-grey);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.8125rem;

}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700
*/